<div class="language-selection-container">
  <div class="dialog-header">
    <span class="dialog-title">{{ 'language.title' | transloco }}</span>
    <span class="dialog-close">
      <mat-icon (click)="cancel()">close</mat-icon>
    </span>
  </div>

  <div class="dialog-content">
    <form class="language-form" [formGroup]="form">
      <mat-form-field class="full-width">
        <mat-label>{{ 'language.message' | transloco }}</mat-label>
        <mat-select formControlName="language">
          <mat-option value="en">{{ 'language.english' | transloco }}</mat-option>
          <mat-option value="pt">{{ 'language.portuguese' | transloco }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div class="dialog-footer">
    <button mat-raised-button color="primary" (click)="dialogRef.close()">{{ 'core.save' | transloco }}</button>
  </div>
</div>